.h_container {
    width: 100%;
    display: flex;
    overflow: scroll;
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--poppins);
    font-weight: 500;
}

.h_container::-webkit-scrollbar {
    display: none;
}

.h_headingBanner figure img {
    margin-top: 3rem;
    width: 100%;
}