@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Poppins:wght@300;400;500&family=Roboto:wght@400;500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.4%;
}

:root {
    --opensans: 'Open Sans', sans-serif;
    --poppins: 'Poppins', sans-serif;
    --roboto: 'Roboto', sans-serif;
}